<header class="site-header">
  <div class="wrap">
    <a class="brand" href="/">🧘 Yoga Studio</a>
    <nav>
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      {{#user}}
        <a href="/logout">Logout</a>
      {{/user}}
      {{^user}}
        <a href="/login">Login</a>
      {{/user}}
    </nav>
    {{#user}}
    <div class="user">Signed in as <strong>{{name}}</strong></div>
    {{/user}}
  </div>
</header>