{{> head}}
{{> header}}
<main>
  <div class="error-page">
    <div class="error-icon">&#9888;</div>
    <h1>{{title}}</h1>
    <p class="error-message">{{message}}</p>
    <a class="btn" href="javascript:history.back()">Go back</a>
  </div>
</main>
{{> footer}}
